h1 {
    font-size: 45px;
    color: #00147a;
}
.lil{
    font-size: 20px;
}
.lol{
    font-size:35px;
    color: green;
    font-weight: bolder;
        
}
.sas{
    font-weight: bolder;
}
.sos {
    font-size: 35px;
}
