


.huhu {
    font-size: 70px;
}

.hoho {
    text-align: top;
    font-size: 60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
}

table {
    width: 100%;
}

p {
    font-size: 40px;
}

.hoha {
    letter-spacing: 5px;
}

.richtig {
    color: green;
    background-color: black;
}



.falsch {
    background-color: red;
}